.aboutpage__content {
    color: var(--color-text);
    font-size: 1.2rem;
}

.aboutpage__content--others {
    font-size: 1.2rem;
}

h2 {
    margin-top: 6rem;
    margin-bottom: 4rem;
}

.my-button {
    margin-top: 2rem;
}