.scene {
    position: relative;

    width: 300px;
    height: 300px;
    margin: 60px auto;
    perspective: 1000px;
}

.carousel {
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s;

    width: 100%;
    height: 100%;
}

.carousel__cell {
    position: absolute;
    background-position: center;
    width: 300px;
    height: 300px;

    background-size: cover;
    border: 2px solid white;
    border-radius: 12px;

    box-shadow: 0 6px 24px rgba(0, 0, 0, 0.3);
}

.carousel__cell img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.carousel__controls {
    margin-top: 20px;

    text-align: center;
}

.carousel__controls button {
    transition: background 0.3s ease;

    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;

    font-size: 16px;

    color: white;
    background: rgba(0, 0, 0, 0.7);
}

.carousel__controls button:hover {
    background: rgba(0, 0, 0, 0.9);
}