* {
    color: var(--color-text);
}

.page-title {
    margin-top: 6rem;
    margin-bottom: 0;
}

.cards {
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    padding: 2rem;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-column: span 4;
    place-items: center;

    height: 95%;
    border: 1px solid black;
    border-radius: 1rem;
    padding: 1rem;
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;

    background-color: white;
}

.card__content {
    text-align: center;
}

.card__title {
    color: var(--color-card-text);
}

.card__pic {
    margin-top: 1rem;
    width: 200px;
    height: 200px;
}

.card__text {
    margin: 1rem;

    text-align: left;
    font: 1rem;

    color: var(--color-card-text);
}

/* .card:hover {
    transform: translate(-.5rem, -1rem) rotate(1deg);
} */

.card__link {
    margin-top: auto;
}

@media (prefers-reduced-motion: no-preference) {
    .card:hover {
        transform: translate(-.5rem, -1rem) rotate(1deg);
    }
}

@media(max-width: 40rem) {
    .cards {
        gap: 1rem;
        padding: 0;
    }

    .card {
        grid-column: span 12;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        align-items: center;
    }

    .card__pic {
        justify-self: center;
    }



}