.modal-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    position: fixed;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.4);
}

.modal {
    border: 1px solid saddlebrown;
    border-radius: 16px;
    padding: 1rem;
    margin-top: 0;
    background: var(--theme-btn-bg);
    max-width: 400px;
    width: 100%;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    color: var(--color-text);
}

.madal-title {
    margin-top: 0;
    padding: 1re, ;
}

.modal-event-info {
    margin: 1rem 0;
}

.modal-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
}

.button:not(.button-joined):hover {
    cursor: pointer;
}

.button-joined {
    background-color: white;
    color: black;
}

.button-joined:hover {
    background-color: var(--banna-hover-clr);
    color: white;
}

.button-cancelled {
    background-color: white;
    color: black;
}


.button-cancelled:hover {
    background-color: var(--banna-hover-clr);
    color: white;
}