.events {
    padding: 2rem;
    max-width: 600px;
    margin: auto;

    font-family: sans-serif;
}



.events-gallery {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 2rem;

    margin-top: 2rem;
    margin: 2rem;
}

.event-card {
    display: flex;
    flex-direction: column;
    grid-column: span 4;

    margin-top: 1rem;
    border: 1px solid var(--color-text);
    border-radius: 1rem;
    width: fit-content;
    height: 100%;
    padding: 1rem;
}

.event-card__pic {
    width: 200px;
    height: 200px;
}

.event-card__title {
    margin-top: 1rem;
    margin-bottom: 1rem;

    font-size: 1rem;

    color: var(--color-text);
}

.event-card__date {
    font-size: 1rem;
}

.event-card__description {
    font-size: 1rem;
    line-height: 1.5;
    text-align: left;
}

.event-card__actions {
    display: flex;
    justify-content: center;
    gap: 0.5rem;

    margin-top: auto;
}

.event-card__link {
    min-width: 100px;
    margin-top: auto;

    text-align: center;
}

.event-card__link:hover {
    background-color: var(--banna-hover-clr);
}


.filter-controls {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;

    margin-top: 3rem;
}

.filter-item {
    border: none;

    background-color: mistyrose;
    color: mediumorchid;
    cursor: pointer;
}

.filter-item:hover {
    border-radius: 15px;

    color: white;
    background-color: var(--banna-hover-clr);
}

@media(max-width: 40rem) {
    .even-cards {
        gap: 1rem;
        padding: 0;
    }

    .event-card {
        grid-column: span 12;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        align-items: center;
    }

    .card__pic {
        justify-self: center;
    }
}