.footer {
    grid-area: footer;
    font-size: 0.8rem;

    padding: 0.5rem;
    background-color: var(--color-header-bg);

    bottom: 0;
    left: 0;
    width: 100%;
}


.footer_form {
    border: 1px solid black;
    border-radius: 0.5rem;
    padding: 0.5rem;

    position: relative;
}

.footer_form--describe {
    text-align: center;
}

.subscribe__title {
    margin: 1rem;
    margin-top: 4rem;
}

.subscirbe__email {
    border: 1px solid black;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 0.5rem;
}


.footer__list {
    display: grid;
    gap: 1rem;
    color: black;
    list-style-type: none;

    grid-template-columns: repeat(12, 1fr);
    text-decoration: underline;


    padding: 0.5rem;
}

.footer__item {
    grid-column: span 3;
    display: flex;
    flex-direction: column;
    place-items: center;
}

.footer a {
    color: var(--color-text);
}

.footer a:hover {
    color: coral;
    background-color: bisque;

    padding: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.subscribe-message {
    color: var(--color-text);
    padding: 0.75rem 1rem;
    font-weight: 700;
    opacity: 1;
    text-align: center;
    margin-top: 1rem;
    border-radius: 6px;
    box-shadow: inset 0 0 0 1px var(--color-primary);
}


@media(max-width: 40rem) {

    .footer__item {
        grid-column: span 12;
        align-items: center;
    }

    .menu {
        display: none;
    }
}