*,
:after,
:before {
    box-sizing: border-box;
}

.header {
    display: grid;
    grid-template-areas:
        "header-logo header-title openModal"
    ;

    grid-template-columns: auto 1fr auto;
    background-color: var(--color-header-bg);
}



.openModal {
    font-weight: bold;
    border-radius: 0.5rem;

    background-color: var(--color-primary);
    color: #fff;
}

.openModal:hover {
    border-radius: 0.5rem;

    background-color: bisque;
    border-color: #fff;
    color: coral;
}

.skip-to-content-link {
    position: absolute;
    left: 40%;

    transform: translateY(-230%);
    /* transition: transform 0.3s; */

    font-weight: 700;

    background: burlywood;
    color: palevioletred;
}

.skip-to-content-link:focus {
    /* transform: translateY(0%); */
    left: 40%;

    text-decoration: none;

    outline: 5px auto #008296;
}

.header__logo {
    grid-area: header-logo;

    cursor: pointer;
    width: 100px;
    height: 100px;
}

.header__title {
    grid-area: header-title;
    align-self: center;

    font-size: 2rem;
}

.header__nav {
    display: flex;
    flex-direction: column;

    text-align: right;

    background-color: var(--color-header-bg);
}


.pageName {
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
    padding: 0.5rem;
    color: blue;
    text-decoration: underline;
}

.pageName:hover {
    color: rgb(233, 28, 233);
    background-color: bisque;
    border-radius: 0.5rem;
}

@media (prefers-reduced-motion: no-preference) {
    .skip-to-content-link {
        transition: transform 0.3s;
    }

    .skip-to-content-link:focus {
        transform: translateY(0%);
    }
}

@media(max-width: 40rem) {
    .header {
        display: flex;
        flex-direction: column;
    }
}