.homepage__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;

    padding: 1rem;
}

.my__visualLinkButton {
    border: none;
    padding: 0;
    cursor: pointer;

    background: none;
    color: blue;
}

.my__visualLinkButton:hover {
    text-decoration: underline;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.homeTitle {
    grid-column: span 2;
    font-weight: 600;
    margin-bottom: 0.5rem;

    color: var(--color-text);
}

.card__title {
    font-size: 1rem;
    font-weight: bold;

    text-shadow: 1px 1px 2px rgba(30, 58, 138, 0.3);
}

.homepage__cards .card .card__content {
    text-align: left;
    font-size: 1rem;

    color: var(--color-panel-text);
}

.my-button {
    margin: 0.5rem 0;
}


.content__cat1 {
    width: 300px;
    height: 300px;
    padding: 0.5rem;
}


.content__cat2 {
    width: 400px;
    height: 300px;
    padding: 0.5rem;
}

.content__cat3 {
    width: 225px;
    height: 300px;
    padding: 0.5rem;
}

.content__cat4 {
    width: 225px;
    height: 300px;
    padding: 0.5rem;
}

.last-content {
    color: var(--color-panel-text);
}