*,
*::before,
*::after {
    box-sizing: border-box;

}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    --color-page-bg: white;
    --color-header-bg: thistle;

    --color-primary: mediumorchid;
    --banna-hover-clr: plum;
    --color-text: #4b2e53;
    --accordion-border: orchid;
    --color-nav-bg: mistyrose;

    --theme-btn-bg: #f0e6ff;
    --theme-btn-highlight: #ba55d3;
    --theme-btn-text: #4b2e53;
    --theme-btn-text-hover: #ffffff;
}

html[data-theme='light'] {
    --color-page-bg: white;
    --color-header-bg: thistle;
    --color-primary: mediumorchid;
    --banna-hover-clr: plum;
    --color-text: #4b2e53;
    --color-nav-bg: mistyrose;
    --accordion-border: orchid;
}


html[data-theme='dark'] {
    --color-page-bg: #1e1e2f;
    --color-header-bg: #2c2c44;
    --color-primary: #b388ff;
    --banna-hover-clr: #6f42c1;
    --color-text: #e0dfe3;
    --color-nav-bg: #2a2730;
    --accordion-border: #8a63d2;
    --color-card-text: #2a2139;
    --color-panel-text: #2a2139;


    --theme-btn-bg: #3d2a50;
    --theme-btn-highlight: #dda0dd;
    --theme-btn-text: #ffffff;
    --theme-btn-text-hover: #2a2139;
}


body {
    min-width: 320px;
    min-height: 100vh;
    margin: 0;

    font-family: system-ui, sans-serif;

    background-color: var(--color-page-bg);
    color: var(--color-text);
}


a {
    font-weight: 500;

    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}


h1 {
    font-size: 3.2rem;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;

    cursor: pointer;
    transition: border-color 0.25s;
}

dialog {
    margin: auto;
}

.skip-button {
    margin: 2rem;

    background-color: #8b005d;
    color: white
}

.skip-button:hover {
    background-color: #a00070;
}