.password__label {
    font-size: 1.2rem;
}


.password-error__symbol {
    display: inline-block;
    margin-left: 5px;
    font-size: 1.2em;
}

.password-error__symbol.valid {
    color: green;
}

.password-error__symbol.invalid {
    color: red;
}

.password-error__message {
    color: gray;
    margin-top: 5px;
    font-size: 1rem;
}