.socialpage__content {
    font-size: 1.5rem;

    color: var(--color-text);
}

.socialpage__list {
    list-style: none;
    padding: 0;
    margin-top: 2rem;
}


.socialpage__list--detail {
    margin-bottom: 1remx;
    margin-top: 1rem;

    font-size: 1.2rem;
    text-align: center;

    color: var(--color-text);
}